<div class="module floatbuttonlink" ng-controller="floatbuttonlinkController">
  <!-- write your module html here -->
  <div id="main">
    <div ng-include="floatbuttonlinkTemplate"></div>
  </div>
  <div class="menu" ng-style="menuStyle">
    <div id="myMenu">
      <a href="{{module[0].url}}">
        <koa-icon icon="{{module[0].icon}}" id="icon"></koa-icon>
      </a>
    </div>
  </div>
  <!-- end module html -->
</div>